<div class="league-info" *ngIf="league">
  <div class="league-wrapper">
    <div class="title">
    {{league.title | uppercase}}
    </div>
  </div>
  <div class="teams-infos" *ngFor="let squad of league.squads; let index = index;">
    <div class="number-squad">
      {{index +1}}
    </div>
    <div class="id-squad">
      {{squad.uuidSquad}}
    </div>
    <div class="squad-name">
      {{squad.squadName}}
    </div>
  </div>
  <button class="btn-join-league" (click)="joinLeague()">
    <span>Rejoindre Ligue</span>
  </button>
  <button class="btn-go-back" (click)="goBack()">
    <span><i class="fa-solid fa-arrow-left"></i> retour</span>
  </button>
</div>

