<section class="separation">
  <p class="separation-title">Guide d'utilisation</p>
</section>
<section class="FAQ">
  <div class="question-panel">
    <mat-accordion class="question-liste">
      <h1 class="sous-titre">Besoin d'aide ? <br> Trouver la réponse à toutes vos questions juste ici ⬇</h1>
      <      <mat-expansion-panel class="panel" (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>Comment créer un compte ?</mat-panel-title>
        </mat-expansion-panel-header>
        <p>Pour créer un compte , il suffit d'ouvrir la barre de navigation et cliquer sur le bouton create an account, aprés ça je dois saisir un identifiant ainsi qu'un mot de passe.</p>
      </mat-expansion-panel>
      <mat-expansion-panel class="panel" (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>Comment créer une équipe ?</mat-panel-title>
        </mat-expansion-panel-header>
        <p>Il faut ouvrir le la barre de navigation, cliquer sur le bouton create a Team.Aprés cça vous allez être rediriger vers une page dans laquelle il faut saisir le nom de l'équipe et le soumettre </p>
      </mat-expansion-panel>
      <mat-expansion-panel class="panel" (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>Comment se connecter?</mat-panel-title>
        </mat-expansion-panel-header>
        <p>Pour se connecter à con compte utilisateur, il suffit d'ouvrir la barre de navigation et cliquer sur le bouton Login, aprés ça je dois saisir un identifiant ainsi qu'un mot de passe </p>
      </mat-expansion-panel>
      <mat-expansion-panel class="panel" (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>Comment créer une league ?</mat-panel-title>
        </mat-expansion-panel-header>
        <p>Afin de créer une League, il vous suffit d'ouvrir la barre de navigation à gauche de l'écran, puis de cliquer sur le bouron create match</p>
      </mat-expansion-panel>
      <mat-expansion-panel  class="panel"(opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>Est ce que je peux changer de League ?</mat-panel-title>
        </mat-expansion-panel-header>
        <p>Vous êtes en effet libre de changer de League si vous en avez envie</p>
      </mat-expansion-panel>
      <mat-expansion-panel class="panel" (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>Comment nous contacter ?</mat-panel-title>
        </mat-expansion-panel-header>
        <p>Plus bas sur cette page ⬇, il existe une section de contact, pour rapporter des bugs des améliorations ou seulement laisser un petit avis 😊</p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</section>
<section class="separation">
  <p class="separation-title">Contact</p>
</section>
<section class="contact">
  <iframe  class="contact-form"src="https://docs.google.com/forms/d/e/1FAIpQLSe9Bm_4Ep5mkstt39zZZAD5sBSLu69xv8nnKPYvXKLcx56UiQ/viewform?embedded=true" width="640" height="800" frameborder="0" marginheight="0" marginwidth="0">Chargement…</iframe>
</section>

