<div class="sidenav">
  <a routerLink="/home">
    <em class="fa-solid fa-home"></em>
    <br>Home </a>
  <a href="#">
    <em class="fa-solid fa-gamepad"></em>
    <br>Create Match </a>
  <a href="#">
    <em class="fa-solid fa-trophy"></em>
    <br>Join tournament</a>
  <a routerLink="squad/create">
    <em class="fa-solid fa-people-group"></em><br>Create Team</a>
    <a href="#">
      <em class="fa-solid fa-user"></em><br>Create an account</a>
  <a href="#">
    <em class="fa-solid fa-arrow-right-to-bracket"></em>
    <br>Login</a>
  <a href="/about">
    <em class="fa-solid fa-circle-question"></em>
    <br>About us </a>

</div>

