<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
  <a routerLink="/home">
    <em class="fa-solid fa-home"></em>
    <br>Home </a>
  < <a href="#">
  <em class="fa-solid fa-gamepad"></em>
  <br>Create Match </a>
  <a routerLink="/leagues">
    <em class="fa-solid fa-trophy"></em>
    <br>Join tournament</a>
  <a routerLink="squad/create">
    <em class="fa-solid fa-people-group"></em><br>Create Team</a>
  <a href="#">
    <em class="fa-solid fa-user"></em><br>Create an account</a>
  <a *ngIf="!isConnected()" routerLink="/connexion">
    <em class="fa-solid fa-arrow-right-to-bracket"></em>
    <br>Login</a>

  <a *ngIf="isConnected()" (click)="logout()">
    <em class="fa-solid fa-xmark"></em>
    <br>Logout</a>

  <a href="/about">
    <em class="fa-solid fa-circle-question"></em>
    <br>About us </a>
</div>
<span style="font-size:40px;cursor:pointer;font-weight: 500" (click)="openNav()">&#9776;</span>
