.section1{
  background-image:url("src/assets/logofinal.png");
  height:30%;
  font-weight:700;
  font-size:50px;
  color: black;
  margin-bottom:2%
}

.text-center{
  color: #691485;
  font-size: 60px;
}
.container{
    position:center;
  flex-direction: row;
  background-color: rgb(5, 5, 5);
    }

.form{
   height: 30em;
  position:center;
  flex-direction: row;
  background-color: rgb(5, 5, 5);
}

.form{
  height: 30em;
  width: 50em;
  flex-direction: inherit;
  padding:15%;
  border-radius: 5%;
  margin:auto;
  padding-bottom:10%

}
.form-label{
   font-size: 48px;

  font-weight:700;
  margin: 5%;
  color: #fff9f9;
}
.form-control{
  border-radius: 4%;
  font-size:38px;
  margin-top:10%;

}
.button{
  position:center;
  font-size: 30px;
  font-weight: 500;
  background-color: rgb(181, 136, 236);
  border-radius: 4%;
  margin-bottom: 3%;
  margin-bottom: 3%;
  margin:3%;
  width:30%;
}

.button2{
  position:center;
  font-weight: 500;
  font-size: 30px;
  width:30%;
  background-color: rgb(172, 142, 197);
  border-radius: 4%;
  margin-bottom: 3%;
  margin:3%

}
.cachee{
  font-size: 30px;
  color:white;
}
