.carroussel {
}
.title{
  font-weight:700;
  font-size:90px;
  color: rgb(255, 106, 0);
  padding:2%;
  text-align:center;
}
.items {
  display: flex;
  position: center;
  align-items: center;
  overflow-x: hidden;
   text-align: center;
}
.item-content {
  margin: auto;
}

#carouselExampleControls{
  margin: auto;
   border-top-left-radius: 2%;
  border-top-right-radius: 2%
}
.banner{
  padding-left:2%;
  padding-right: 2%;
  padding-bottom: 6%;
}
